.benefit {
}

.benefit__title {
    margin-bottom: 20px;
    font-weight: 900;
    font-style: 24px;
}

.benefit__text {
    margin-bottom: 14px;
    font-style: 16px;
    line-height: 1.85;
    opacity: 0.8;
}

